.loginContainer {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F7EDE2;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
}

.card {
    box-sizing: border-box;
    width: 600px;
    height: 320px;
    padding: 20px;
    background-color: #84A59D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.button-group {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.button {
    flex: 1;
    margin: 0 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; 
    color: black;
}

.button.signup {
    background-color: #F5CAC3;
}

.button.login {
    background-color: #F28482;
}

.button.signup:hover,
.button.login:hover {
    background-color: #E45C57;
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px;
}

.bg-img {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; 
    z-index: -1; 
}

.login-form {
    display: none;
   
}
.login-form.active {
    display: block;
    margin-top:-60px;
}
.login-form input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-form button {
    margin-top: 20px;
    background-color: #F28482;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: space-between;
    margin-right: 5px;
}


.button.hidden {
    display: none;
}
.hidden {
    display: none;
}
