.main-content {
    flex: 1;
    padding: 20px;
    width: 100%
}

.match-box {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.like-btn {
    background-color: #4CAF50; /* Green color for like */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.skip-btn {
    background-color: #f44336; /* Red color for skip */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.match-info{
    justify-content: center; 
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.match-card {
    justify-content: center; 
    align-items: center;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 800px;
    margin: 16px;
    padding: 15px;
    background-color: #84A59D;
}

.match-card-image {
  
    height: auto;
    border-radius: 10px;
    max-width: 200px;
    max-height:200px;
    object-fit: cover;
    
}

.image-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-right: 0px;
    gap: 10px;
    align-items: flex-start; 
    justify-content: center;
}
.match-card-content {
    padding: 12px;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    display: flex;
}

.match-card-title {
    font-size: 1.2rem;
    margin: 8px 0;
}

.match-card-description {
    font-size: 1rem;
    margin-bottom: 8px;
}

.match-card-food, .match-card-artist {
    font-size: 0.9rem;
    color: #555;
}
