# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
env_frontend.json
env_backend.json
serviceAccount.json
.DS_Store

npm-debug.log*
yarn-debug.log*
