
.spotify-button {
  display: inline-block;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spotify-button:hover {
    background-color: white;
    border-color: #1db954;
    color: #1db954;
}

.Spotify-container{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.spotify-success {
  justify-content: center; 
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.spotify-success-text{
  font-size: 24px;
  color: #666;
  margin: 10px 0;
}

.spotify-header{
  font-size: 40px;
  margin: 10px 0;
}