
.spotify-button {
  display: inline-block;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.spotify-button:hover {
    background-color: white;
    border-color: #1db954;
    color: #1db954;
}

.Spotify-container{
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
}