.submit {
    width: 100px;
    padding: 10px;
    background-color: #F28482;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.diet, .cuisine {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.selected-option {
    background-color: #F28482;
  }

.custom-input, .custom-select {
    width: 500px;
    padding: 10px; /* Increased padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group-button {
    width: 300px;
    padding: 10px;
    background-color: #F28482; /* Updated color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.food-img {
    width: 80%;
}

.food-page {
    
}