body {
    font-family: Arial, sans-serif;
    background-color: #F7EDE2;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px; /* Increased padding to make sure the input boxes aren't too close to the border */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin for better spacing */
}

.custom-input, select {
    width: 100%;
    padding: 10px; /* Increased padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-button {
    width: 100%;
    padding: 10px;
    background-color: #F28482; /* Updated color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #E26F74; /* Slightly darkened color for hover effect */
}