{
    "fbKey": "",
    "fbProjectId    ": "",
    "fbauthDomain": "",
    "fbdatabaseURL": "https://harmonyplate-68e8b-default-rtdb.firebaseio.com",
    "storageBucket": "",
    "messagingSenderId": "",
    "fbappId": "",
    "measurementId": ""
}